

{% extends "../layout.njk" %}

{% block content %}

<div class="menu-chefe">
  <h2 class="title-chef">Editando Chefe</h2>
  <div class="buttons-edit-page">
    <button type="submit" form="delete" class="delete-button">Deletar</button>
    <button type="submit" form="salve">Salvar Chefe</button>
  </div>
</div>

<form method=POST id="salve" action="/admin/chefs?_method=PUT">

  <div class="inputs-chefe-edit">
    <div class="input-block">
      <label for="name">Nome</label>
      <div>
        <input type="text" name="name" placeholder="Nome do chefe" value="">
      </div>
    </div>
  </div>

  <div class="inputs-chefe-edit">
    <div class="input-block">
      <label for="avatar_url">Avatar</label>
      <div>
        <input type="url" name="avatar_url" placeholder="http://..." value="">
      </div>
    </div>
  </div>

</form>

<form method="POST" id="delete" action="/admin/chefs?_method=DELETE">
  <input type="hidden" name="id" value="">
</form>

{% endblock content %}
