


  <div class="inputs-chefe-create">
    <div class="input-block">
      <label for="name">Nome</label>
      <div>
        <input type="text" name="name" placeholder="Nome do chefe" value="">
      </div>
    </div>
  </div>

  <div class="inputs-chefe-create">
    <div class="input-block">
      <label for="avatar_url">Avatar</label>
      <div>
        <input type="url" name="avatar_url" placeholder="http://..." value="">
      </div>
    </div>
  </div>

