
{% extends "../layout.njk" %}

{% block content %}

<div class="menu-chefe">
  <h2 class="title-chef">Gerenciar Chefes</h2>
  <div class="buttons">
    <a href="#">Criar Chefe</a>
  </div>
</div>

<section class="chef-manager-cards">

  <div class="single-chef-manager-card">
    <div class="avatar-chef-manager">
      <img src="https://images.unsplash.com/photo-1474966862828-c58886978c8c?ixid=MXwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MTJ8NDk2MzQ5OHx8ZW58MHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="Image recipe-name">
    </div>
    <div class="chef-card-description">
      <div class="card-description-chef-name">
        <h6>Nome do Chefe</h6>
      </div>
      <div class="button-description-toView">
        <a href="#">Visualizar</a>
      </div>
    </div>
  </div>

  <div class="single-chef-manager-card">
    <div class="avatar-chef-manager">
      <img src="https://images.unsplash.com/photo-1474966862828-c58886978c8c?ixid=MXwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MTJ8NDk2MzQ5OHx8ZW58MHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="Image recipe-name">
    </div>
    <div class="chef-card-description">
      <div class="card-description-chef-name">
        <h6>Nome do Chefe</h6>
      </div>
      <div class="button-description-toView">
        <a href="#">Visualizar</a>
      </div>
    </div>
  </div>

  <div class="single-chef-manager-card">
    <div class="avatar-chef-manager">
      <img src="https://images.unsplash.com/photo-1474966862828-c58886978c8c?ixid=MXwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MTJ8NDk2MzQ5OHx8ZW58MHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="Image recipe-name">
    </div>
    <div class="chef-card-description">
      <div class="card-description-chef-name">
        <h6>Nome do Chefe</h6>
      </div>
      <div class="button-description-toView">
        <a href="#">Visualizar</a>
      </div>
    </div>
  </div>

  <div class="single-chef-manager-card">
    <div class="avatar-chef-manager">
      <img src="https://images.unsplash.com/photo-1474966862828-c58886978c8c?ixid=MXwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MTJ8NDk2MzQ5OHx8ZW58MHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="Image recipe-name">
    </div>
    <div class="chef-card-description">
      <div class="card-description-chef-name">
        <h6>Nome do Chefe</h6>
      </div>
      <div class="button-description-toView">
        <a href="#">Visualizar</a>
      </div>
    </div>
  </div>

  <div class="single-chef-manager-card">
    <div class="avatar-chef-manager">
      <img src="https://images.unsplash.com/photo-1474966862828-c58886978c8c?ixid=MXwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MTJ8NDk2MzQ5OHx8ZW58MHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="Image recipe-name">
    </div>
    <div class="chef-card-description">
      <div class="card-description-chef-name">
        <h6>Nome do Chefe</h6>
      </div>
      <div class="button-description-toView">
        <a href="#">Visualizar</a>
      </div>
    </div>
  </div>

  <div class="single-chef-manager-card">
    <div class="avatar-chef-manager">
      <img src="https://images.unsplash.com/photo-1474966862828-c58886978c8c?ixid=MXwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MTJ8NDk2MzQ5OHx8ZW58MHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="Image recipe-name">
    </div>
    <div class="chef-card-description">
      <div class="card-description-chef-name">
        <h6>Nome do Chefe</h6>
      </div>
      <div class="button-description-toView">
        <a href="#">Visualizar</a>
      </div>
    </div>
  </div>

  <div class="single-chef-manager-card">
    <div class="avatar-chef-manager">
      <img src="https://images.unsplash.com/photo-1474966862828-c58886978c8c?ixid=MXwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MTJ8NDk2MzQ5OHx8ZW58MHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="Image recipe-name">
    </div>
    <div class="chef-card-description">
      <div class="card-description-chef-name">
        <h6>Nome do Chefe</h6>
      </div>
      <div class="button-description-toView">
        <a href="#">Visualizar</a>
      </div>
    </div>
  </div>

  <div class="single-chef-manager-card">
    <div class="avatar-chef-manager">
      <img src="https://images.unsplash.com/photo-1474966862828-c58886978c8c?ixid=MXwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MTJ8NDk2MzQ5OHx8ZW58MHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="Image recipe-name">
    </div>
    <div class="chef-card-description">
      <div class="card-description-chef-name">
        <h6>Nome do Chefe</h6>
      </div>
      <div class="button-description-toView">
        <a href="#">Visualizar</a>
      </div>
    </div>
  </div>



</section>

{% endblock content %}



