
{% extends "../layout.njk" %}

{% block content %}

<div class="menu">
  <h2 class="title">Gerenciar Chefes</h2>
  <div class="buttons">
    <a href="chefs/create">Criar Chefe</a>
  </div>
</div>

<section class="chef-manager-cards">

  {%for chef in chefs%}

    <div class="single-chef-manager-card">
      <div class="avatar-chef-manager">
        <img src="{{chef.avatar_url}}" alt="Image {{chef.name}}">
      </div>
      <div class="chef-card-description">
        <div class="card-description-chef-name">
          <h6>{{chef.name}}</h6>
        </div>
        <div class="button-description-toView-chefPage">
          <a href="chefs/{{chef.id}}">Visualizar</a>
        </div>
      </div>
    </div>

  {%endfor%}

</section>

{% endblock content %}



