<!DOCTYPE html>
<html>
<head>

  <link rel="stylesheet" href="/styles.css">
  <title>FoodFy Database</title>

</head>

<body>

  <header>
    <div class="header-content">
      <img src="/assets/logoAdmin.png" alt="Image Logo">
      <div class="menu-links">
        <a href="#">RECEITAS</a>
        <a href="#">CHEFES</a>
      </div>
    </div>
  </header>

  {% block content %}
  {% endblock content %}

</body>
</html>
