
{% extends "./layout.njk" %}

{% block head %}
    <title>Foodfy chefes</title>
{% endblock %}

{% block header %}


  <div class="header">

    <div class="menu-links">
      <a href="/client/about">Sobre</a>
      <a href="/client/recipes">Receitas</a>
      <a href="/client/chefs"><strong>Chefs</strong></a>
    </div>

  </div>

{% endblock %}

{% block content %}

<section class="chef-manager-cards">

  {%for chef in chefs%}

    <div class="single-chef-manager-card">
      <div class="avatar-chef-manager">
        <img src="{{chef.avatar_url}}" alt="Image {{chef.name}}">
      </div>
      <div class="chef-card-description">
        <div class="card-description-chef-name">
          <h6>{{chef.name}}</h6>
        </div>
        <div class="recipes-amount">{{chef.total_recipes}} receitas</div>
      </div>
    </div>

  {%endfor%}

</section>

{% endblock %}
