
{% extends "./layout.njk" %}

{% block head %}
    <title>Foodfy chefes</title>
{% endblock %}

{% block header %}


  <div class="header">

    <div class="menu-links">
      <a href="/client/about">Sobre</a>
      <a href="/client/recipes">Receitas</a>
      <a href="/client/chefs"><strong>Chefs</strong></a>
    </div>

  </div>

{% endblock %}

{% block content %}

<section class="chef-manager-cards">

  <div class="single-chef-manager-card">
    <div class="avatar-chef-manager">
      <img src="https://images.unsplash.com/photo-1474966862828-c58886978c8c?ixid=MXwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MTJ8NDk2MzQ5OHx8ZW58MHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="Image recipe-name">
    </div>
    <div class="chef-card-description">
      <div class="card-description-chef-name">
        <h6>Nome do Chefe</h6>
      </div>
      <div class="recipes-amount">4 receitas</div>
    </div>
  </div>

  <div class="single-chef-manager-card">
    <div class="avatar-chef-manager">
      <img src="https://images.unsplash.com/photo-1474966862828-c58886978c8c?ixid=MXwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MTJ8NDk2MzQ5OHx8ZW58MHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="Image recipe-name">
    </div>
    <div class="chef-card-description">
      <div class="card-description-chef-name">
        <h6>Nome do Chefe</h6>
      </div>
      <div class="recipes-amount">4 receitas</div>
    </div>
  </div>

  <div class="single-chef-manager-card">
    <div class="avatar-chef-manager">
      <img src="https://images.unsplash.com/photo-1474966862828-c58886978c8c?ixid=MXwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MTJ8NDk2MzQ5OHx8ZW58MHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="Image recipe-name">
    </div>
    <div class="chef-card-description">
      <div class="card-description-chef-name">
        <h6>Nome do Chefe</h6>
      </div>
      <div class="recipes-amount">4 receitas</div>
    </div>
  </div>

  <div class="single-chef-manager-card">
    <div class="avatar-chef-manager">
      <img src="https://images.unsplash.com/photo-1474966862828-c58886978c8c?ixid=MXwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MTJ8NDk2MzQ5OHx8ZW58MHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="Image recipe-name">
    </div>
    <div class="chef-card-description">
      <div class="card-description-chef-name">
        <h6>Nome do Chefe</h6>
      </div>
      <div class="recipes-amount">4 receitas</div>
    </div>
  </div>

  <div class="single-chef-manager-card">
    <div class="avatar-chef-manager">
      <img src="https://images.unsplash.com/photo-1474966862828-c58886978c8c?ixid=MXwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MTJ8NDk2MzQ5OHx8ZW58MHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="Image recipe-name">
    </div>
    <div class="chef-card-description">
      <div class="card-description-chef-name">
        <h6>Nome do Chefe</h6>
      </div>
      <div class="recipes-amount">4 receitas</div>
    </div>
  </div>

  <div class="single-chef-manager-card">
    <div class="avatar-chef-manager">
      <img src="https://images.unsplash.com/photo-1474966862828-c58886978c8c?ixid=MXwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MTJ8NDk2MzQ5OHx8ZW58MHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="Image recipe-name">
    </div>
    <div class="chef-card-description">
      <div class="card-description-chef-name">
        <h6>Nome do Chefe</h6>
      </div>
      <div class="recipes-amount">4 receitas</div>
    </div>
  </div>

  <div class="single-chef-manager-card">
    <div class="avatar-chef-manager">
      <img src="https://images.unsplash.com/photo-1474966862828-c58886978c8c?ixid=MXwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MTJ8NDk2MzQ5OHx8ZW58MHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="Image recipe-name">
    </div>
    <div class="chef-card-description">
      <div class="card-description-chef-name">
        <h6>Nome do Chefe</h6>
      </div>
      <div class="recipes-amount">4 receitas</div>
    </div>
  </div>

  <div class="single-chef-manager-card">
    <div class="avatar-chef-manager">
      <img src="https://images.unsplash.com/photo-1474966862828-c58886978c8c?ixid=MXwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MTJ8NDk2MzQ5OHx8ZW58MHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="Image recipe-name">
    </div>
    <div class="chef-card-description">
      <div class="card-description-chef-name">
        <h6>Nome do Chefe</h6>
      </div>
      <div class="recipes-amount">4 receitas</div>
    </div>
  </div>

</section>

{% endblock %}
