<!DOCTYPE html>

<html>

  <head>
    <link rel="stylesheet" href="/client_styles.css">
    {% block head %}{% endblock %}
  </head>

  <body>

    <header>
      <a href="/" id="pointerLogo"><img src="/assets/logo.png" alt="Logo"></a>
      <div class="menu">
        {% block header %}{% endblock %}
      </div>
    </header>

    <section class="content-layer">

      {% block content %}{% endblock %}

      <footer class="footer">
        <p>Todos direitos reservados, receitas Foodfy.</p>
      </footer>

    </section>


  </body>

</html>
