{% extends "./layout.njk" %}

{% block head %}
    <title>Recipes - Foodfy</title>
{% endblock %}

{% block header %}

  <div class="header">

    <div>
      <a href="/client/about">Sobre</a>
      <a href="/recipes"><strong>Receitas</strong></a>
      <a href="/client/chefs">Chefs</a>
    </div>

    <form action="/client" method="GET">
      <input type="text" name="filter" placeholder="Buscar uma receita" value={{filter}}>
      <button type="submit">Buscar</button>
    </form>

  </div>

{% endblock %}

{% block content %}

<section class="cards">

  <div class="card" id="{{recipe.title}}" number="{{recipe.number}}">
      <div class="card__image-container">
          <img src="/assets/espaguete.png" alt="Image {{recipe.title}}">
      </div>

      <div class="plate-name">
          <h5>Nome do Chefe</h5>
      </div>
      <div class="cooker-name">
          <p>Nome do Prato</p>
      </div>
  </div>

  <div class="card" id="{{recipe.title}}" number="{{recipe.number}}">
      <div class="card__image-container">
          <img src="/assets/espaguete.png" alt="Image {{recipe.title}}">
      </div>

      <div class="plate-name">
          <h5>Nome do Chefe</h5>
      </div>
      <div class="cooker-name">
          <p>Nome do Prato</p>
      </div>
  </div>

  <div class="card" id="{{recipe.title}}" number="{{recipe.number}}">
      <div class="card__image-container">
          <img src="/assets/espaguete.png" alt="Image {{recipe.title}}">
      </div>

      <div class="plate-name">
          <h5>Nome do Chefe</h5>
      </div>
      <div class="cooker-name">
          <p>Nome do Prato</p>
      </div>
  </div>

  <div class="card" id="{{recipe.title}}" number="{{recipe.number}}">
      <div class="card__image-container">
          <img src="/assets/espaguete.png" alt="Image {{recipe.title}}">
      </div>

      <div class="plate-name">
          <h5>Nome do Chefe</h5>
      </div>
      <div class="cooker-name">
          <p>Nome do Prato</p>
      </div>
  </div>

  <div class="card" id="{{recipe.title}}" number="{{recipe.number}}">
      <div class="card__image-container">
          <img src="/assets/espaguete.png" alt="Image {{recipe.title}}">
      </div>

      <div class="plate-name">
          <h5>Nome do Chefe</h5>
      </div>
      <div class="cooker-name">
          <p>Nome do Prato</p>
      </div>
  </div>

  <div class="card" id="{{recipe.title}}" number="{{recipe.number}}">
      <div class="card__image-container">
          <img src="/assets/espaguete.png" alt="Image {{recipe.title}}">
      </div>

      <div class="plate-name">
          <h5>Nome do Chefe</h5>
      </div>
      <div class="cooker-name">
          <p>Nome do Prato</p>
      </div>
  </div>

  <div class="card" id="{{recipe.title}}" number="{{recipe.number}}">
      <div class="card__image-container">
          <img src="/assets/espaguete.png" alt="Image {{recipe.title}}">
      </div>

      <div class="plate-name">
          <h5>Nome do Chefe</h5>
      </div>
      <div class="cooker-name">
          <p>Nome do Prato</p>
      </div>
  </div>

  <div class="card" id="{{recipe.title}}" number="{{recipe.number}}">
      <div class="card__image-container">
          <img src="/assets/espaguete.png" alt="Image {{recipe.title}}">
      </div>

      <div class="plate-name">
          <h5>Nome do Chefe</h5>
      </div>
      <div class="cooker-name">
          <p>Nome do Prato</p>
      </div>
  </div>

  <div class="card" id="{{recipe.title}}" number="{{recipe.number}}">
      <div class="card__image-container">
          <img src="/assets/espaguete.png" alt="Image {{recipe.title}}">
      </div>

      <div class="plate-name">
          <h5>Nome do Chefe</h5>
      </div>
      <div class="cooker-name">
          <p>Nome do Prato</p>
      </div>
  </div>

  <div class="card" id="{{recipe.title}}" number="{{recipe.number}}">
      <div class="card__image-container">
          <img src="/assets/espaguete.png" alt="Image {{recipe.title}}">
      </div>

      <div class="plate-name">
          <h5>Nome do Chefe</h5>
      </div>
      <div class="cooker-name">
          <p>Nome do Prato</p>
      </div>
  </div>

  <div class="card" id="{{recipe.title}}" number="{{recipe.number}}">
      <div class="card__image-container">
          <img src="/assets/espaguete.png" alt="Image {{recipe.title}}">
      </div>

      <div class="plate-name">
          <h5>Nome do Chefe</h5>
      </div>
      <div class="cooker-name">
          <p>Nome do Prato</p>
      </div>
  </div>

  <div class="card" id="{{recipe.title}}" number="{{recipe.number}}">
      <div class="card__image-container">
          <img src="/assets/espaguete.png" alt="Image {{recipe.title}}">
      </div>

      <div class="plate-name">
          <h5>Nome do Chefe</h5>
      </div>
      <div class="cooker-name">
          <p>Nome do Prato</p>
      </div>
  </div>

</section>

{% endblock %}
