
{% extends "../layout.njk" %}

{% block head %}
  <script src="/scripts.js" defer></script>
{% endblock head %}

{% block content %}

  <section class="uniq_recipe">

    <form method="POST" action="/admin/recipes">

      <div class="menu-chefe">
        <h2 class="title-chef">Criando Chefe</h2>
        <div class="buttons">
          <button type="submit" form="create">Salvar Chefe</button>
        </div>
      </div>

      {% include 'admin/recipes/fields.njk' %}

    </form>

  </section>


{% endblock content %}
