
{% extends "../layout.njk" %}

{% block content %}

<div class="menu">
  <h2 class="title">Gerenciar Receitas</h2>
  <div class="buttons">
    <a href="recipes/create">Criar Receita</a>
  </div>
</div>

<section class="chefs-details">

  <div class="chef-recipes-cards">

    {%for recipe in recipes%}

      <div class="single-recipe-card">
        <div class="recipe-image">
          <img src="{{recipe.image}}" alt="Image {{recipe.title}}">
        </div>
        <div class="card-recipe-description">
          <div class="card-description-plate-name">
            <h6>{{recipe.title}}</h6>
          </div>
          <div class="card-description-chef-name">
            <p>Por Nome do Chefe</p>
          </div>
          <div class="button-description-toView-recipePage">
            <a href="recipes/{{recipe.id}}">Visualizar</a>
          </div>
        </div>
      </div>

    {%endfor%}

  </div>

</section>

{% endblock content %}



