
{% extends "../layout.njk" %}

{% block content %}

<div class="menu">
  <h2 class="title">Receita: {{recipe.title}}</h2>
  <div class="buttons">
    <a href="{{recipe.id}}/edit">Editar Receita</a>
  </div>
</div>

<section class="uniq_recipe">

  <div class="uniq_img">
      <img src="{{recipe.image}}" alt="Image {{recipe.title}}">
  </div>

  <div class="uniq_recipe_infor">
      <h2 class="uniq_plate">{{recipe.title}}</h5>
      <p class="uniq_cooker">por Chefe Name</p>
  </div>

  <div class="uniq_recipe_content">
    <div class="topics">
      <h3 class="uniq_topics">Ingredientes</h3>
    </div>
    <div class="uniq_topics_contents">
      {%for ingredient in recipe.ingredients%}
        <li class="uniq_topics_content">{{ingredient}}</li>
      {%endfor%}
    </div>

    <div class="topics">
      <h3 class="uniq_topics">Modo de preparo</h3>
    </div>
    <div class="uniq_topics_contents">
      {%for preparation in recipe.preparation%}
        <li class="uniq_topics_content">{{preparation}}</li>
      {%endfor%}
    </div>

    <div class="topics">
      <h3 class="uniq_topics">Informações adicionais</h3>
    </div>
    <div class="uniq_topics_contents">
      <div class="uniq_topics_content">
        {{recipe.information}}
      </div>
    </div>
  </div>

</section>

{% endblock content %}



