<!DOCTYPE html>
<html>
<head>

  <link rel="stylesheet" href="/admin_styles.css">
  <script src="/scripts.js" defer></script>

  {% block head %}{% endblock head %}

  <title>FoodFy Database</title>

</head>

<body>

  <header>
    <div class="header-content">
      <img src="/assets/logoAdmin.png" alt="Image Logo">
      <div class="menu-links">
        <a href="/recipes">RECEITAS</a>
        <a href="/chefs">CHEFES</a>
      </div>
    </div>
  </header>

  {% block content %}
  {% endblock content %}

</body>
</html>
